.results-container {
  .image-wrapper {
    padding: 10px;
    margin: 2px 75px;
    width: 114%;
    background-color: #fff;
    height: 200px;
    margin-left: -58px;
    border-radius: 1px;
  }

  h3,
  p {
    margin: 15px 0px 0px;
    font-family: 'Montserrat', sans-serif;
  }

  p {
    font-size: 16px;
    max-width: 580px;
  }

  .right {
    float: right;
    margin-right: 10px;
  }

  img.image {
    width: 180px;
    height: 180px;
    max-width: 100%;
    float: left;
    padding-right: 10px;
  }

  .price-tag {
    font-size: 22px;
  }

  .aligth-right {
    float: right;
    margin: -58px 10px;
    font-size: 13px;
  }

  img.car-mail-img {
    right: 869px;
    width: 20px;
    float: right;
    margin-right: 620px;
    margin-top: 19px;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    margin-left: -59px;
    position: relative;
    top: -10px;
  }

  li {
    display: block;
    float: left;
    text-align: center;
    text-decoration: none;
    color: #999;
    font-size: 12px;
  }
}

.message-search,
.loading {
  color: #999;

  font-size: 14px;
  position: absolute;
  top: 59px;
  margin-left: 280px;
  margin-top: 30px;
}
