.container {
  width: 100%;
  max-width: 800px;
  display: block;
  margin: 0 auto;
  padding-top: 8px;

  .search-label {
    position: relative;

    input[type=text] {
      width: 107%;
      padding: 16px;
      font-size: 16px;
      font-style: italic;
      color: #444;
      box-sizing: border-box;
      outline: none;
      height: 40px;
      margin-left: 19px;
      border-radius: 4px;
      border-color: #f5f5f5;
      border: 0;
    }

    .logo-meli {
      position: absolute;
      top: 1px;
      left: -62px;
    }
  }

  .button-submit {
    position: relative;
    top: -40px;
    right: -836px;
    background-color: #eee;
    border: 0;
    height: 40px;
    margin: 0;
    width: 39px;
    outline: none;
    cursor: pointer;
  }

  .search-icon {
    position: relative;
    top: -51px;
    font-size: 17px;
    color: #333;
    left: 808px;
  }

  .search-loading {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
  }
}
